.overview{
    width: 50%;
    margin:10px;
    line-height: 30px;
    margin-top: 30px;
    
}

.banner{
    margin: 20px;
    padding: 20px;
    height: 500px;
    background-size: cover;
   
}
.title{
    margin-left: 40px;
}